
.name {
    background-color: rgb(250, 234, 143);
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    width: 10rem;
    border: 2px solid black;
    height: 3rem;
  }

  .tabList {
      align-items: flex-end;
      justify-content: flex-end;
      display: flex;
      flex-grow: 1;
  }

  .hoveredTab {
      font-size: 1rem;
      margin-left: 0.75rem;
      display: flex;
      align-self: flex-end;
      color: black;
      cursor: pointer; 
      padding: 0.375rem;
      border: 1px solid black;
  }

  .tab {
    font-size: 1rem;
    margin-left: 0.75rem;
    display: flex;
    align-self: flex-end;
    color: black;
    cursor: pointer; 
    padding: 0.375rem;
    border: 1px solid transparent;
  }

  .tab:hover{
    border: 1px solid black;
  }

  .videoMenuList {
    position: absolute;
    top: 6.15rem;
    right: 23.8rem;
  }

  .menuItem {
    display: block;
    font-size: 0.75rem;
    padding: 0.25rem;
    border-left: 1px solid transparent;
    border-right: 2px solid transparent;
    text-align: center;
    cursor: pointer;
  }

  .menuItem:hover {
    color: white;
    background-color: black;
  }